<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <script>
      function toListPage() {
        location.href = "/list";
      }
    </script>
  </head>
  <body>
    <h1>Indexのページです</h1>
    <p>DBのデータを読み込ませます</p>
    <button onclick="toListPage()">リストページに遷移します</button>
  </body>
</html>
